<mat-toolbar color = "primary">
  <button mat-icon-button class="menuicon" aria-label="Example icon-button with menu icon">
    <mat-icon>home</mat-icon>
  </button>
  <span>Thu Vien</span>
  <form class="search-form">
    <mat-form-field class="search-full-width">
      <mat-label>Tim kiem</mat-label>
      <input matInput>
    </mat-form-field>
  </form>
  <span class="spacer1"></span>
  <div class="dndk-button-row">
    <button mat-button id="dndkbutton">Dang Nhap</button>
    <button mat-button id="dndkbutton">Dang Ky</button>
  </div>
  <button mat-icon-button class="home-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>add_shopping_cart</mat-icon>
  </button>
</mat-toolbar>
<div class="TITLESANPHAM">
  <h1>MUC YEU THICH</h1>
</div>
<div id = 'contents'>
    <mat-card class="dog-card" *ngFor="let con of contents">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title id="nameacc">Nhanvip</mat-card-title>
      </mat-card-header>
      <img  mat-card-image src="{{con.Image}}" >
      <mat-card-content id="des">
        <br>
        <P>
          Name: {{con.name}}
        </P>
        <p>
          Price: {{con.price}}
        </p>
        <p>
          Studio: {{con.studio}}
        </p>
        <p *ngIf="con.OutOfOrder==false">
          Status: Available
        </p>
        <p *ngIf="con.OutOfOrder==true">
          Status: Not Available
        </p>

      </mat-card-content>
      <mat-card-actions id="addbtn_contain">
        <button mat-button id="addButton">Buy this product</button>
      </mat-card-actions>
    </mat-card>

</div>




